<!DOCTYPE html>
<html lang="en">
  <head>

      <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" media="all">
      <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" rel="stylesheet" media="all">

  </head>

   <!--
          If you want to change #bootstrap-touch-slider id then you have to change Carousel-indicators and Carousel-Control  #bootstrap-touch-slider slide as well
          Slide effect: slide, fade
          Text Align: slide_style_center, slide_style_left, slide_style_right
          Add Text Animation: https://daneden.github.io/animate.css/
          -->
  <body>
    <div class="row">

        <div id="bootstrap-touch-slider" class="carousel bs-slider slide  control-round indicators-line" data-ride="carousel" data-pause="hover" data-interval="5000" >

            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#bootstrap-touch-slider" data-slide-to="0" class="active"></li>
                <li data-target="#bootstrap-touch-slider" data-slide-to="1"></li>
                <li data-target="#bootstrap-touch-slider" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper For Slides -->
            <div class="carousel-inner" role="listbox">

                <!-- Third Slide -->
                <div class="item active">

                    <!-- Slide Background -->
                    <img src="https://ooo.0o0.ooo/2017/06/29/595473e8e79fe.jpg" alt="Bootstrap Touch Slider"  class="slide-image"/>
                    <div class="bs-slider-overlay"></div>

                    <div class="container">
                        <div class="row">
                            <!-- Slide Text Layer -->
                            <div class="slide-text slide_style_left">
                                <h1 data-animation="animated zoomInRight"> A </h1>
                                <p data-animation="animated fadeInLeft">aaaaaa</p>

                                <!-- <a href="http://bootstrapthemes.co/" target="_blank" class="btn btn-default" data-animation="animated fadeInLeft">select one</a> -->
                                <!-- <a href="http://bootstrapthemes.co/" target="_blank"  class="btn btn-primary" data-animation="animated fadeInRight">select two</a> -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End of Slide -->

                <!-- Second Slide -->
                <div class="item">

                    <!-- Slide Background -->
                    <img src="https://ooo.0o0.ooo/2017/06/29/595473b7e75a5.jpg" alt="Bootstrap Touch Slider"  class="slide-image"/>
                    <div class="bs-slider-overlay"></div>
                    <!-- Slide Text Layer -->
                    <div class="slide-text slide_style_center">
                        <h1 data-animation="animated flipInX">B</h1>
                        <p data-animation="animated lightSpeedIn">bbbbbb</p>

                        <!-- <a href="http://bootstrapthemes.co/" target="_blank" class="btn btn-default" data-animation="animated fadeInUp">select one</a> -->
                        <!-- <a href="http://bootstrapthemes.co/" target="_blank"  class="btn btn-primary" data-animation="animated fadeInDown">select two</a> -->
                    </div>
                </div>
                <!-- End of Slide -->

                <!-- Third Slide -->
                <div class="item">

                    <!-- Slide Background -->
                    <img src="https://ooo.0o0.ooo/2017/06/29/595474122140a.jpg" alt="Bootstrap Touch Slider"  class="slide-image"/>
                    <div class="bs-slider-overlay"></div>
                    <!-- Slide Text Layer -->
                    <div class="slide-text slide_style_right">
                        <h1 data-animation="animated zoomInLeft">C</h1>
                        <p data-animation="animated fadeInRight">cccccc</p>

                        <!-- <a href="http://bootstrapthemes.co/" target="_blank" class="btn btn-default" data-animation="animated fadeInLeft">select one</a> -->
                        <!-- <a href="http://bootstrapthemes.co/" target="_blank" class="btn btn-primary" data-animation="animated fadeInRight">select two</a> -->
                    </div>
                </div>
                <!-- End of Slide -->


            </div><!-- End of Wrapper For Slides -->

            <!-- Left Control -->
            <a class="left carousel-control" href="#bootstrap-touch-slider" role="button" data-slide="prev">
                <span class="fa fa-angle-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>

            <!-- Right Control -->
            <a class="right carousel-control" href="#bootstrap-touch-slider" role="button" data-slide="next">
                <span class="fa fa-angle-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>

        </div> <!-- End  bootstrap-touch-slider Slider -->

        <div id="cdj-wrapper">

          <div class="lp-section-2 clearfix">
            <div class="content-2">
              <div class="short-line"></div>
              <h2>我们重新定义直播</h2>
              <p>
                畅世界由硅谷团队倾力打造全球首创技术。
                我们以专业的技术团队，专业的摄像设备及摄像人员，旨在为您呈现稳定高清的视频传输。
                以最高的性价比，为您定制最优质的个性化服务。
              </p>
              <img src="https://fullstack.xinshengdaxue.com/images/lp-2.jpg">
            </div>
          </div>

          <div class="lp-section-3 clearfix" id="lp-section-3">
            <div class="content-3">
              <div class="feature-title">
                <div class="short-line"></div>
                <h2>值得拥有的直播平台</h2>
              </div>
              <div class="feature-block">
                <img src="https://ooo.0o0.ooo/2017/08/23/599d84a445abf.png">
                <br>
                <h3>视频高清稳定</h3>
                <p>
                  视频信号不稳定？画面不清晰？
                  我们由硅谷团队倾力打造全球首创技术，
                  保证稳定高清视频传输。
                </p>
              </div>
              <div class="feature-block">
                <img src="https://ooo.0o0.ooo/2017/08/23/599d83bc8441b.png">
                <br>
                <h3>直播优质专业</h3>
                <p>
                  专业的摄像设备，专业的摄像人员，
                  以最高的性价比，为您定制最优质的个性化服务。
                </p>
              </div>
              <div class="feature-block">
                <img src="https://ooo.0o0.ooo/2017/08/23/599d85fba06e5.png">
                <br>
                <h3>分享重要时刻</h3>
                <p>
                  精彩体育赛事，婚礼直播，
                  毕业典礼，激情演讲，晚会活动等各种场景，
                  畅世界为您倾情呈现。
                </p>
              </div>
            </div>
          </div>

          <div class="lp-section-4 clearfix">
            <div class="content-4">
              <div class="feature-title">
                  <div class="short-line"></div>
                  <h2>精彩赛事</h2>
                </div>
              <div class="feature-block-4">
                  <ul>
                    <li class="video">
                      <a href="http://baidu.ku6.com/watch/7754313539976307316.html?page=videoMultiNeed" target="_blank" class="view-box" static="stp=hb&amp;dur=10:02&amp;sid=1805441812,2605326964&amp;li=1&amp;img=2137785901,230542320&amp;to=play" title="视频1">
  					            <span class="view" target="_blank">
            						<img class="img" alt="视频1" src="http://t2.baidu.com/it/u=2137785901,230542320&amp;fm=20" style="">
            						<span class="s-mask"></span>
            						<span class="s-play"></span>
            						<span class="info-bg"></span>
            						<span class="site">酷6</span>
            						<span class="info">10:02</span>
  					            </span>
  					            <span class="title">Top 10 On <font color="#c60a00">Rails</font> Sequences in <font color="#c60a00">Video</font> Games</span>
  				            </a>
                    </li>
                    <li class="video">
                      <a href="http://baidu.ku6.com/watch/7754313539976307316.html?page=videoMultiNeed" target="_blank" class="view-box" static="stp=hb&amp;dur=10:02&amp;sid=1805441812,2605326964&amp;li=1&amp;img=2137785901,230542320&amp;to=play" title="视频1">
  					            <span class="view" target="_blank">
            						<img class="img" alt="视频1" src="http://t2.baidu.com/it/u=2137785901,230542320&amp;fm=20" style="">
            						<span class="s-mask"></span>
            						<span class="s-play"></span>
            						<span class="info-bg"></span>
            						<span class="site">酷6</span>
            						<span class="info">10:02</span>
  					            </span>
  					            <span class="title">Top 10 On <font color="#c60a00">Rails</font> Sequences in <font color="#c60a00">Video</font> Games</span>
  				            </a>
                    </li>
                    <li class="video">
                      <a href="http://baidu.ku6.com/watch/7754313539976307316.html?page=videoMultiNeed" target="_blank" class="view-box" static="stp=hb&amp;dur=10:02&amp;sid=1805441812,2605326964&amp;li=1&amp;img=2137785901,230542320&amp;to=play" title="视频1">
  					            <span class="view" target="_blank">
            						<img class="img" alt="视频1" src="http://t2.baidu.com/it/u=2137785901,230542320&amp;fm=20" style="">
            						<span class="s-mask"></span>
            						<span class="s-play"></span>
            						<span class="info-bg"></span>
            						<span class="site">酷6</span>
            						<span class="info">10:02</span>
  					            </span>
  					            <span class="title">Top 10 On <font color="#c60a00">Rails</font> Sequences in <font color="#c60a00">Video</font> Games</span>
  				            </a>
                    </li>
                    <li class="video">
                      <a href="http://baidu.ku6.com/watch/7754313539976307316.html?page=videoMultiNeed" target="_blank" class="view-box" static="stp=hb&amp;dur=10:02&amp;sid=1805441812,2605326964&amp;li=1&amp;img=2137785901,230542320&amp;to=play" title="视频1">
  					            <span class="view" target="_blank">
            						<img class="img" alt="视频1" src="http://t2.baidu.com/it/u=2137785901,230542320&amp;fm=20" style="">
            						<span class="s-mask"></span>
            						<span class="s-play"></span>
            						<span class="info-bg"></span>
            						<span class="site">酷6</span>
            						<span class="info">10:02</span>
  					            </span>
  					            <span class="title">Top 10 On <font color="#c60a00">Rails</font> Sequences in <font color="#c60a00">Video</font> Games</span>
  				            </a>
                    </li>
                    <li class="video">
                      <a href="http://baidu.ku6.com/watch/7754313539976307316.html?page=videoMultiNeed" target="_blank" class="view-box" static="stp=hb&amp;dur=10:02&amp;sid=1805441812,2605326964&amp;li=1&amp;img=2137785901,230542320&amp;to=play" title="视频1">
  					            <span class="view" target="_blank">
            						<img class="img" alt="视频1" src="http://t2.baidu.com/it/u=2137785901,230542320&amp;fm=20" style="">
            						<span class="s-mask"></span>
            						<span class="s-play"></span>
            						<span class="info-bg"></span>
            						<span class="site">酷6</span>
            						<span class="info">10:02</span>
  					            </span>
  					            <span class="title">Top 10 On <font color="#c60a00">Rails</font> Sequences in <font color="#c60a00">Video</font> Games</span>
  				            </a>
                    </li>
                  </ul>
              </div>
            </div>
          </div>

          <div class="lp-section-5 clearfix">
            <div class="content-5">
              <div class="feature-title">
                <div class="short-line"></div>
                <h2>新闻中心</h2>
              <!-- </div>
              <div class="feature-block">
                <img src="https://fullstack.xinshengdaxue.com/images/feature1.png">
                <br>
                <h3>科技创新1</h3>
                <p>
                  专业术语太多？全英文看不懂？我们
                  总结多年的线下经验编写了通俗
                  易懂的教材，帮你降低学习门槛。
                </p>
              </div> -->
              <!-- <div class="feature-block">
                <img src="https://fullstack.xinshengdaxue.com/images/feature1.png">
                <br>
                <h3>科技创新2</h3>
                <p>
                  专业术语太多？全英文看不懂？我们
                  总结多年的线下经验编写了通俗
                  易懂的教材，帮你降低学习门槛。
                </p>
              </div>
              <div class="feature-block">
                <img src="https://fullstack.xinshengdaxue.com/images/feature1.png">
                <br>
                <h3>科技创新3</h3>
                <p>
                  专业术语太多？全英文看不懂？我们
                  总结多年的线下经验编写了通俗
                  易懂的教材，帮你降低学习门槛。
                </p>
              </div> -->
            </div>
          </div>

        </div>

    </div>
  </body>
</html>
